body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #050505;
  }
  
  .header {
    background-color: #500404;
    color: #ff9b9b;
    padding: 30px;
    text-align: center;
    text-shadow: 2px 4px #000000;
    box-shadow: 2px 5px 20px 2px #ff0000;
  }
  
  .logo {
    font-size: 35px;
    font-weight: bold;
    text-decoration-line: underline;
  }

  .Secondary {
    font-size: 25px;
    text-decoration-line: underline;
  }

  .IWelcome {
    color: #ff0000;
    font-size: 40px;
    padding: 10px;
    background-color: #111111;
    border-radius: 25px;
    text-shadow: 2px 2px 5px rgb(133, 83, 83);
    box-shadow: 6px 4px 18px red;
    margin-bottom: 250px;
    margin-top: 300px;
    margin-left: 30% ;
    width: 40%;
    text-align: center; 
    
  }

  .SectionI {
    background-color: #111111;
    color: hwb(0 32% 0%);
    padding: 40px;
    text-align: center;
    border-radius: 25px;
    width: 75%;
    margin-left: 10%;
    box-shadow: 2.5px 6px 15px red;
    margin-bottom: 400px;
  }

  .SectionII {
    background-color: #111111;
    color: hwb(0 32% 0%);
    padding: 40px;
    text-align: center;
    border-radius: 25px;
    width: 45%;
    margin-left: 25%;
    box-shadow: 2.5px 6px 15px red;
    margin-bottom: 250px;
    margin-top: 100px;
  }

  .SectionIII {
    background-color: #111111;
    color: hwb(0 32% 0%);
    padding: 40px;
    border-radius: 25px;
    text-align: center;
    width: 55%;
    margin-left: 20%;
    box-shadow: 2.5px 6px 15px red;
    margin-top: 250px;
  }

  .SectionIV {
    background-color: #111111;
    color: hwb(0 32% 0%);
    padding: 40px;
    text-align: center;
    border-radius: 25px;
    width: 65%;
    margin-left: 15%;
    box-shadow: 2.5px 6px 15px red;
    margin-top: 350px;
    margin-bottom: 150px;
  }

  .MainI {
    text-shadow:2px 2px 5px #ff0000;
    font-size: 35px;

  }

  .TextI {
    font-size: 21.5px;
    color: #ff0000;
    text-shadow: 1px 2px 5px #ff0000;
  }

  .TextII {
    font-size: 22.5px;
    color: #bb0000;
    text-shadow: 1px 2px 7px #f30000;
    text-align: center;
  }

  .TextII_left {
    font-size: 22.5px;
    color: #ff0000;
    text-shadow: 1px 2px 7px #ff0000;
    text-align: left;
    
  }

  .TextIII {
    font-size: 20.5px;
    color: #ff0000;
    text-shadow: 1px 2.5px 7px #e00000;
    text-align: left;
  }

  .TextIV { 
    font-size: 22.5px;
    color: #ff0000;
    text-shadow: 1px 2.5px 7px #e00000;
    text-align: center;
  }

  .TeleButton {
    padding: 25px;
    font-size: 25px;
    color: #ff0000; 
    background: #2b0202;
    border-radius: 25px;
    cursor: pointer;
    text-shadow: 1px 1px 3px #ff0000;
  }

  .Rule_ {
    font-size: 27px;
    color: #ff0000;
    text-shadow: 1px 2px 5px #ff0000;

  }

  .Dark {
    color: #aa0000;
    text-shadow: 1px 2.5px 5px #7a0000;
  }

  /* Line */
.gradient-line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.gradient-line {
  width: 25%;
  height: 9.5px;
  border-radius: 25px;
  /* Adjust the height as needed */
  background: linear-gradient(to right, rgb(73, 2, 2), rgb(255, 0, 0), rgb(206, 57, 57), rgb(255, 0, 0), rgb(73, 0, 0));
}

